  <!--.Footer-->
<footer>
    <div class="container text-center animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
        <h3>Francis</h3>
        <div class="social-links">
            <!--Social links-->
            <a href="mailto:francisqo2002@yahoo.fr" target="_blank">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="tel:+33752626017" target="_blank">
                <i class="fa fa-phone-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/francis-mujani/" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <p>Mentions légales | CGU</p>
    </div>
    <!--.container-->
</footer>
<!--End Footer-->