

{% extends "layout.html" %}

{% block content %}
    <!--Start Preloader-->
    <div class="page-loader"></div>
    <div class="loader startLoad"></div>
    <div id="loader" class="pageload-overlay"
        data-opening="m -5,-5 0,70 90,0 0,-70 z m 5,35 c 0,0 15,20 40,0 25,-20 40,0 40,0 l 0,0 C 80,30 65,10 40,30 15,50 0,30 0,30 z">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60"
            preserveAspectRatio="none">
            <path
                d="m -5,-5 0,70 90,0 0,-70 z m 5,5 c 0,0 7.9843788,0 40,0 35,0 40,0 40,0 l 0,60 c 0,0 -3.944487,0 -40,0 -30,0 -40,0 -40,0 z" />
        </svg>
    </div>
    <!--End Preloader-->
    <!--Start Home Section-->
    <section class="home svg_shape" id="home">
        <div class="full_height" data-parallax="scroll" data-image-src="assets/images/me-1.jpg">
            <!--.nav barre is here-->

            <!--.contenus-->
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <h3>Bonjour, Je m'appelle Francis Mujani</h3>
                        <h1 class="cd-headline letters rotate-2 is-full-width">
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Développeur</b>
                                <b>Data </b> 
                                <b>IA</b>
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container go_down_container">
                <div class="go_down">
                    <a href="#about" class="smooth_scroll">
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
            <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
                viewBox="0 0 100 100" preserveAspectRatio="none" style="fill: #fff;">
                <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
            </svg>
        </div>
        <!--.full_height-->
    </section>
    <!--End Home Section-->

    <!--Start About Section-->
    <section class="about padding-top-110 padding-bottom-90" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5 about-img">
                    <div class="my__img animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                        <img src="../static/img/francis.jpg" alt="" width="120%">
                    </div>
                </div>
                <div class="col-md-7 padding-left-25">
                    <h3 class="animated animated_scroll fadeInUp" style="animation-delay: 0.3s">Hello! Je suis Francis Mujani</h3>
                    <p class="animated animated_scroll fadeInUp" style="animation-delay: 0.3s">La nouvelle technologie est en parfaite évolution avec la progression du web et programmation lié aux recherches et aux attentes des consommateurs avec la soif  des nouveaux gadgets.  

                        j'ai pu découvrir un domaine qui m'a immédiatement séduit et qui, aujourd’hui, est devenu une vraie
                        passion ! Je m’investis dans le digital en donnant le meilleur de moi-même.</p>
                    <p class="animated animated_scroll fadeInUp" style="animation-delay: 0.3s"></p>
                    <p class="animated animated_scroll fadeInUp" style="animation-delay: 0.3s"></p>
                    
                </div>
                <!--.col-sm-7-->
            </div>
            <!--.row-->
        </div>
        <!--.container-->
        <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
            viewBox="0 0 100 100" preserveAspectRatio="none" style="fill: #fff;">
            <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
        </svg>
    </section>
    <!--End About Section-->


    <!--Start Services Section-->
    <section class="services padding-top-110 padding-bottom-90 primary_bg" id="experience">
        <div class="container">
            <div class="sec_title">
                <h2>Expérience</h2>
            </div>
            <div class="row">

                <!--Service 1-->
                <div class="col-md-3 col-sm-6 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-desktp"><p>2020</p></i>
                        </div>
                        <h3>Développeur data IA</h3>
                        <p><small>Simplon</small></p>
                        <p>Ecole IA Microsoft </p>
                    </div>
                </div>

                <!--Service 2-->
                <div class="col-md-3 col-sm-6 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-desktp"><p>2019</p></i>
                        </div>
                        <h3>Développeur web </h3>
                        <p><small>Bac +4</small></p>
                        <p>IFOCOP – Paris</p>
                    </div>
                </div>

                <!--Service 3-->
                <div class="col-md-3 col-sm-6 item animated animated_scroll fadeInUp" style="animation-delay: 0.9s">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-desktp"><p>2015</p></i>
                        </div>
                        <h3>BTS <br> ATI</h3>
                        <p><small>Bac +2</small></p>
                        <p>Lyccé de Preslet</p>
                    </div>
                </div>

                <!--Service 4-->
                <div class="col-md-3 col-sm-6 item animated animated_scroll fadeInUp" style="animation-delay: 1.2s">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-desktp"><p>2013</p></i>
                        </div>
                        <h3>BACCALAUREAT <br> <br></h3>
                        <p>Lyccé Albert Londres</p>
                        <p><small>Sport-étude</small></p>
                    </div>
                </div>                

            </div>
            <hr>
            <!--.row-->
            <div class="row">
                <!--CV-->
                <div class="col-md-12 col-sm-12 item animated animated_scroll fadeInUp" style="animation-delay: 1.2s">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3><a href="../static/docs/cv-francis-mujani.pdf" target="blank">Télécharger mon CV</a></h3>
                    </div>
                </div>

            </div>
            <hr>
            <section class="services padding-top-110 padding-bottom-90 primary_bg" id="services">
                <div class="container">
                    <div class="sec_title">
                        <h2>Compétences</h2>    
                    </div>
                    <div class="row">
        
                        <!--Service 1-->

                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/python.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 2-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/r.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 3-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/pandas.jpg" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 4-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/numpy.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
       
                    </div>
                
                    <br>
                    <div class="row">
        
                        <!--Service 1-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/bootstrap.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 2-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/wordpress.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 3-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/mysql.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 4-->
                        <div class="col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/php.png" alt="html"></i>
                                </div>
                            </div>
                        </div>       
                    </div>
                    <br>
                    <div class="row">
        
                        <!--Service 1-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/seo.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 2-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/html.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 3-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/photoshop.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 4-->  
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/jquery.png" alt="html"></i>
                                </div>
                            </div>
                        </div>    
                    </div>
        </div>
        <!--.container-->
        <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
            viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
        </svg>
    </section>
    <!--End Services Section-->

    <section class="services padding-top-110 padding-bottom-90 primary_bg" id="services">
                <div class="container">
                    <div class="sec_title">
                        <h2>Quelques bases</h2>    
                    </div>
                    <div class="row">
        
                        <!--Service 1-->
                        
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/react.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 3-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/symfony.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
        
                        <!--Service 4-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/angular.png" alt="html"></i>
                                </div>
                            </div>
                        </div>
                        <!--Service 5-->
                        <div class="col-md-3 col-sm-3 item animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                            <div class="content">
                                <div class="icon">
                                    <i class="fa fa-desktp"><img src="../static/img/ionic.png" alt="html"></i>
                                </div>
                            </div>
                        </div>    
                    </div>
                         </div>
        </div>
        <!--.container-->
        <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
            viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
        </svg>
    </section>

    <!--Start Portfolio Section-->
    <section class="portfolio padding-top-110 padding-bottom-90" id="portfolio">
        <div class="container">
            <div class="sec_title">
                <h2>Réalisations</h2>
            </div>
            <ul class="list-unstyled ul-filter">
                <li data-filter=".hotelcop"><a href="https://github.com/francis-mujani/StandardScaler_From_Scratch" target="blank">Github</a></li>
                <li data-filter=".hotelcop">Site vitrine Hôtel de luxe</li>
                <li data-filter=".eshopping">Site Back-end vente en ligne </li>
                <li data-filter=".eshopping1">Boutique en ligne</li>
                <li data-filter=".woocommerce">Boutique en ligne projet final</li>
                <li data-filter="*" class="active_filter">Tout</li>
            </ul>
            <div class="row grid">

                <!--project 1-->
                <div class="col-xs-12 col-sm-6 col-md-4 grid-sizer grid-item hotelcop">
                    <div class="box animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                        <div class="my_img" data-mfp-src="../static/img/hotelcop.png">
                            Hôtelcop<img src="../static/img/hotelcop.png" alt='hotelcop'>
                        </div>
                        <a href="https://www.projet1.parisslux.com" target="blank"><i class="fa fa-window-maximize"></i> francis/hotelcop</a>
                    </div>
                </div>

                <!--project 2-->
                <div class="col-xs-12 col-sm-6 col-md-4 grid-item eshopping">
                    <div class="box animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                        <div class="my_img" data-mfp-src="../static/img/room.png">Room
                            <img src="../static/img/room.png" alt='room'>
                            <a href="https://www.projet2.parisslux.com" target="blank"><i class="fa fa-window-maximize"></i> francis/room</a>
                        </div>
                    </div>
                </div>

                <!--project 3-->
                <div class="col-xs-12 col-sm-6 col-md-4 grid-item eshopping1">
                    <div class="box animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                        <div class="my_img" data-mfp-src="../static/img/petit_commerce.png">Le petit commerce
                            <img src="../static/img/petit-commerce.png" alt='le petit commerce'>
                            <a href="https://koc9639.phpnet.org/petit-commerce/index.html" target="blank"><i class="fa fa-window-maximize"></i> francis/Petit commerce</a>
                        </div>
                    </div>
                </div>

                 <!--project 4-->
                <div class="col-xs-12 col-sm-6 col-md-4 grid-item woocommerce">
                    <div class="box animated animated_scroll fadeInUp" style="animation-delay: 0.3s">
                        <div class="my_img" data-mfp-src="../static/img/trends.png">Trends
                            <img src="../static/img/trends.png" alt='trens'>
                            <a href="https://koc9639.phpnet.org/petit-commerce/index.html" target="blank"><i class="fa fa-window-maximize"></i> francis/Trends</a>
                        </div>
                    </div>
                </div>

            </div>
            <!--.row-->
        </div>
        <!--.container-->
        <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
            viewBox="0 0 100 100" preserveAspectRatio="none" style="fill: #fff;">
            <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
        </svg>
    </section>
    <!--End Portfolio Section-->


    <!--Start Contact Section-->
    <section class="contact padding-top-110 padding-bottom-90 primary_bg" id="contact">
        <div class="container">
            <div class="sec_title">
                <h2>Contact</h2>
            </div>
            <div class="row">

                <div class="col-sm-8">
                    <div class="contact_form animated animated_scroll fadeInUp" style="animation-delay: 0.4s">
                        <form action="send.php" method="post">
                            <input placeholder="Nom" name="name" type="text" class="form-control">
                            <input placeholder="E-mail" name="email" type="email" class="form-control">
                            <textarea placeholder="Message" name="message" class="form-control"></textarea>
                            <div class="submit btn">Envoyer message</div>
                            <!--Contact form message-->
                            <div class="msg_success">
                                <p>Votre message a été envoyée. Merci!</p>
                            </div>
                            <div class="msg_error">
                                <p>Malheureusement votre message n'a pas été envoyée.</p>
                            </div>
                            <!--End contact form message-->
                        </form>
                    </div>
                </div>

                <div class="col-sm-4 padding-left-25">
                    <div class="info animated animated_scroll fadeInUp" style="animation-delay: 0.3s">

                        <div class="content">
                            <div>
                                <h4>Téléphone</h4>
                                <p><a href="tel:+33752626017"> 07 52 62 60 17</a></p>
                            </div>
                        </div>

                        <div class="content">
                            <div>
                                <h4>Email</h4>
                                <p><a href="mailto:francisqo2002@yahoo.fr">francisqo2002@yahoo.fr</a></p>
                            </div>
                        </div>

                        <div class="content">
                            <div>
                                <h4>Linkedin</h4>
                                <p><a href="https://www.linkedin.com/in/francis-mujani/" target="blank">Mon profil</a></p>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <!--.row-->
        </div>
        <!--.container-->
    </section>
{% endblock %}