
<!-- nav -->
 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- LOGO -->
            <a class="navbar-brand" href="#">FRANCIS MUJANI</a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#home" class="smooth_scroll">Home</a>
                </li>
                <li>
                    <a href="#about" class="smooth_scroll">A propos</a>
                </li>
                <li>
                    <a href="#experience" class="smooth_scroll">Expérience</a>
                </li>
                <li>
                    <a href="#services" class="smooth_scroll">Compétences</a>
                </li>
                <li>
                    <a href="#portfolio" class="smooth_scroll">Réalisations</a>
                </li>
                <li>
                    <a href="#contact" class="smooth_scroll">Contact</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
    <!--.container-->
</nav>